
@{
    ViewBag.Title = "RestroReviews";
}
<body padding-top: 82px>


</body>
<h2>Select Your Choice</h2>

<button value="All Restaurants" type="button" style=" padding-top: 80px;padding-right: 630px;" title="Restaurants"  onclick="location.href='@Url.Action("Index","Restaurants")'"><h1>Restaurants</h1></button>
<button value="All Restaurants" type="button" style=" padding-top: 80px;padding-right: 714px;" title="Dishes"  onclick="location.href='@Url.Action("Index","DishesReviews")'"><h1>Dishes</h1></button>


